.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(155, 145, 145);
}

.list-items h3 {
  text-align: left;
  padding-bottom: 2px;
}

.list-items {
  width: 400px;
  justify-content: center;
  list-style: none;
  text-align: left;
  background-color: white;
  float: right;
  z-index: 999;
}

.check {
  margin-left: -20px;
  width: 20px;
}

.not-completed {
  color: red;
}

.main {
  background-color: rgb(233, 229, 226);
}

hr {
  width: 110%;
  margin-left: -40px;
  margin-bottom: -1px;
}

.addtask {
  width: 99%;
  border-style: none;
  font-size: 15px;
  font-style: italic;
  margin-left: -40px;
  padding-left: 40px;
  border-bottom: 1px solid rgb(151, 147, 147);
  height: 40px;
  margin-bottom: 20px;
}

.addtask:focus {
  outline: none;
}

.clear {
  width: 440px;
  font-size: 30px;
  padding: 20px;
  margin-top: -25px;
}

.cleardiv {
  position: relative;
  top: -42px;
  padding-top: 20px;
  z-index: 1000;
}

.cleardiv:hover {
  background-color: bisque;
}

.kebab-menu {
  position: relative;
  top: -40px;
  float: right;
  margin-right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.delete {
  position: relative;
  top: -40px;
  display: none;
  float: right;
  right: -200px;
  margin-right: 10px;
  cursor: pointer;
}

.kebab-menu.active + .delete {
  position: relative;
  top: -35px;
  display: block;
  right: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.kebab-menu.active {
  display: none;
  position: relative;
  top: -40px;
}

.list {
  padding-top: 10px;
}

.disc {
  font-size: 16px;
  border-style: none;
  padding-left: 10px;
  height: 100%;
  border: none;
}

.disc:focus {
  outline: none;
}

.list-items1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  list-style: none;
  position: relative;
  top: 20px;
  margin: auto;
}

.list-items1 hr {
  width: 109.5%;
}

.disc.completed {
  text-decoration: line-through;
}

.refresh {
  position: relative;
  top: 60px;
  z-index: 1000;
  left: 12rem;
  color: rgb(156, 149, 149);
}
